body {
  margin: 20px;
background-color:grey;
}
   
header{
  background-color:lightgreen;
  padding:5%;
  margin:0%;
  text-align:center;

  
  }

aside{
  background-color:Orange;
  width:300px;
  height:100vh;
  padding:auto;
  box-shadow:0 0 5px yellow;
  }

aside  a{
  text-decoration:none;
  display:block;
  color:white;
  padding:10px 20px;
  text-align:center;
  }
aside a:hover{
  Background-color:Violet;
  color:black;
    
  }